Django/__pycache__/
website/__pycache__/
website/migrations/__pycache__/
db.sqlite3
website/migrations/0001_initial.py
media/
shorturls/__pycache__/
shorturls/migrations/__pycache__/
shorturls/migrations/0001_initial.py
